init.author.name = simone
init.author.email = simone@example.com
init.author.url = http://el1881.bc:8090/display/IC/1.+S1m0ne+Team
# an email is required to publish npm packages
email=simone@proximus.com
always-auth=true
_auth=c2ltb25lOnNpbW9uZQ==
